# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# macOS system files
.DS_Store
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Expo system & cache files 
.expo/

# api env files
apps/api/.env
apps/api/.env.*
!apps/api/.env.example

# android/ios build files
android/
ios/

# firebase service account keys
apps/motopay-mobile/*firebase-adminsdk*.json